html, body {
height: 100vh;
margin: 0;
padding: 0;
}

#map {
	height: 100vh;
}

.map-input {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100;
	width: 100%;
	opacity: 0.9;
}

.wait {
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.well {
	text-align: center;
	opacity: 0.8;
	padding: 3px;
	border-radius: 5px;
	border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA
}

.separator {
	margin: 5px 0 5px 0;
	color: #111111;
	border-color: #111111;
}

.control-panel {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 96vh;
	width: 250px;
	z-index: 101;
	background-color: #EEEEEE;
	opacity: 0.8;
	padding: 5px 10px 10px 20px;
	border-radius: 15px;
	border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA
}

.an-layers {
	vertical-align: middle;
	padding-left: 10px;
}

.an-layers > input {
	vertical-align: top;
}

.control-panel > footer {
	position: absolute;
	bottom: 10px;
}

.an-layers > label {
	vertical-align: bottom;
}

.legend {
	text-align: center;
	vertical-align: middle;
}

.legend-color-name {
	width: 90px;
	height: 20px;
	overflow: hidden;
}

.legend-color-1 {
	background-color: #F39800;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-2 {
	background-color: #22AC38;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-3 {
	background-color: #00A0E9;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-4 {
	background-color: #006887;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-5 {
	background-color: #BE0081;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-6 {
	background-color: #601986;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}

.legend-color-7 {
	background-color: #E60012;
	width: 30px;
	height: 20px;
	border-radius: 5px;
}